<ul class="vakata-context jstree-contextmenu jstree-default-contextmenu" style="left: 271.1px; top: 259px; display: block;">
	<li class="">
		<a rel="0" href="" ng-click="wbFiles.treeCreateFolder(item)">
			<i></i>
			<span class="vakata-contextmenu-sep">&nbsp;</span>
			Create Folder in {{item.text}}
		</a>
	</li>
	<li class="">
		<a rel="1" href="" ng-click="wbFiles.treeUploadFile(item)">
			<i></i>
			<span class="vakata-contextmenu-sep">&nbsp;</span>
			Upload File to {{item.text}}
		</a>
	</li>
</ul>