<div id="login">
	<div id="top">
		<div class="container-fluid">
			<img class="banner" src="images/top-banner.png" alt="banner"/>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<img id="title" src="images/logo.png" alt="Insightal logo"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-push-7 col-sm-6 col-sm-push-6 col-xs-12">
					<div class="formular">
					<img id="title2" src="images/logo.png" alt="Insightal logo"/>
					<h1><span>Sign In</span></h1>
					<form ng-submit="login.login()" name="loginForm" role="form" novalidate>
						<div class="form-group">
							<label for="inputUsername">Username</label>
							<input id="inputUsername" ng-model="login.username" type="text" class="form-control" name="username" required autofocus="autofocus"/>
						</div>
						<div class="form-group">
							<label for="passID">Password</label>
							<input id="inputPassword" ng-model="login.password" class="form-control" type="password" name="password" required/>
						</div>
						<div class="form-group error-box" ng-show="login.validationErrors.length > 0">
							<div ng-repeat="error in login.validationErrors">
								{{error.message}}
							</div>
						</div>
						<input type="submit" ng-disabled="loginForm.$invalid" class="btn btn-default" value="Sign In"/>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 text">
				<!-- <h3>Insightal</h3> -->
				<img src="images/small-logo.png" alt="logo">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="social twitt">
					<a id="twitter-icon" href="#"><i class="fa fa-2x fa-twitter"></i></a>
				</div>
				<div class="social in">
					<a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5 col-sm-12 col-xs-12 contactus">
				<h5>Contact Us</h5>
				<p>Contact us to learn more about our data management <br/>technology and solutions.</p>
				<a id="talk" href="#" class="btn btn-lg">TALK TO US</a>
			</div>
		</div>
	</div>
	
</div>

<div class="push"></div>
